.container {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 32px;
  font-weight: normal;
  font-family: inherit;
}

.acm {
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .left {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}