.main {
  max-width: 100rem;
  gap: 1rem;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: var(--Dark-Bleu);

  margin: 0 var(--side-padding);

  @media screen and (max-width: 600px) {
    margin: 0 var(--side-padding-small);
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
    z-index: 2;
  }
}
