.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  h2 {
    font-size: 36px;
  }

  table {
    width: 100%;
    background-color: #fff;
    border-radius: 0.875rem;
    border-collapse: collapse;

    th,
    td {
      text-align: left;
      padding: 1.5625rem 3.125rem;
    }

    .tag {
      border-radius: 1.5rem;
      padding: 0.5rem 0.75rem;
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;

      &[data-type='Main Event'] {
        background: #d6e5f8;
        color: #142e52;
      }

      &[data-type='Social'] {
        background: #d7ede7;
        color: #00573f;
      }

      &[data-type='Workshop'] {
        background: #ece6f9;
        background: #ece6f9;
        color: #35118d;
      }

      &[data-type='Notice'] {
        color: #8f5a26;
        background: #ffe2c4;
      }

      &[data-type='Deadline'] {
        background: #fad5dc;
        color: #8d0d25;
      }
    }

    tr:first-child {
      border-bottom: 2px solid #afe1fd;
    }
  }
}
